<!DOCTYPE html>
<html>
  <head>
    <title>TripBook</title>

    <%= csrf_meta_tags.gsub(/\n/, "\n    ").html_safe %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/utils' %>
    <%= yield %>
  </body>
</html>
