<!DOCTYPE html>
<html>
  <head>
    <title>TripBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Index', root_path %></li>
      <% if user_signed_in? %>
        <li>Hello, <%= current_user.name %></li>
        <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to('Sign in', new_user_session_path)  %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
